
/src/__pycache__
src/database/__pycache__/problem_report_dao.cpython-312.pyc
src/classes/__pycache__/seller.cpython-312.pyc
nome_do_ambiente/Scripts/pythonw.exe
venv
vending_system.db
src/database/__pycache__/product_dao.cpython-312.pyc
/src/database/__pycache__
*.pyc
*.pyc
src/classes/__pycache__/problem_report.cpython-312.pyc
